<div class="login-page-container">
  
    <img class = "login-background" src="../assets/portl_background.jpg" alt="Portl Background">
    <div class="login-box">
      <div class="login-body">
        <div class="company-logo-container">
          <img src="../assets/portl-black.png" alt="Portl Logo" style="width: 50%;
      margin-left: 25%;">
        </div>
  
        <div class="login-input-box">
          <h3>Welcome !</h3>
          <input type="text" placeholder="User Name" class="credential-field" required>
          <input type="password" placeholder="Password" class="credential-field" required>
          <button color="primary" class="submit-btn-field" (click)="loginUser()" >Log In</button>
        </div>
        <span style="font-size: 12px;word-spacing: 2px;">Terms of use  |  Privacy Policy</span>
        
  
  
      </div>
      
      
    </div>
    
  
  
  </div>